/*
 *  Settings - Main
 */

:root {
  --sizing-base: 1em;
  --sizing-scale: 1.2;
  
  @media (min-width: 64rem) {
    --sizing-base: 1.25em;
    --sizing-scale: 1.25;
  }

  --sizing-xs: calc(
    var(--sizing-base) / 
    var(--text-scale-ratio) / 
    var(--text-scale-ratio)
  );
  --sizing-sm: calc(
    var(--text-xs) * 
    var(--text-scale-ratio)
  );
  --sizing-md: calc(
    var(--text-sm) *
    var(--text-scale-ratio) *
    var(--text-scale-ratio)
  );
  --sizing-lg: calc(
    var(--text-md) *
    var(--text-scale-ratio)
  );
  --sizing-xl: calc(
    var(--text-lg) * 
    var(--text-scale-ratio)
  );

  --spacing-xs:  var(--sizing-xs);
  --spacing-sm:  var(--sizing-sm);
  --spacing-md:  var(--sizing-md);
  --spacing-lg:  var(--sizing-lg);
  --spacing-xl:  var(--sizing-xl);

  --type-sizing-base:  var(--sizing-base);
  --type-sizing-scale:  var(--sizing-scale);
  
  --type-xs: calc(
    var(--type-sizing-base) /
    var(--type-sizing-scale) /
    var(--type-sizing-scale)
  );
  --type-sm: calc(
    var(--type-sizing-base) /
    var(--type-sizing-scale)
  );

  --type-h6: calc(
    var(--type-sizing-base) *
    var(--type-sizing-scale)
  );
  --type-h5: calc(
    var(--type-h6) * 
    var(--type-sizing-scale)
  );
  --type-h4: calc(
    var(--type-h5) * 
    var(--type-sizing-scale)
  );
  --type-h3: calc(
    var(--type-h4) * 
    var(--type-sizing-scale)
  );
  --type-h2: calc(
    var(--type-h3) * 
    var(--type-sizing-scale)
  );
  --type-h1: calc(
    var(--type-h2) * 
    var(--type-sizing-scale)
  );
}

