/*
 *  Settings - Main
 */

$core-size-fractions: 2, 3, 6;

$core-objects-namespace    : 'o-' !default;
$core-utilities-namespace  : 'u-' !default;
$core-components-namespace : 'c-' !default;

$global-breakpoints: (
  sm  : "screen and ( min-width: 768px )",
  md  : "screen and ( min-width: 1000px )"
) !default;

$global-gutter-default: 1rem !default;

